@tailwind base;
@tailwind components;
@tailwind utilities;

.header{
    background: linear-gradient(90deg, #FFFCE6 0%, #F5FFFE 26.81%, #FCF3FF 54.58%, #FFF4E6 99.86%);
}

.bg-blur{
    background: linear-gradient(180deg, rgba(1, 22, 39, 0) 40.63%, #011627 100%);
}

.footer{
    background: linear-gradient(90deg, rgba(255, 230, 230, 0.52) 0%, rgba(245, 255, 254, 0.52) 26.81%, rgba(252, 243, 255, 0.52) 54.58%, rgba(255, 244, 230, 0.52) 99.86%);
}

/* .hover-red-line{
    height: 64px;
} */

.hover-red-line:after{
    content: '';
    position: absolute;
    left: -200px;
    width: 100px;
    bottom: 0px;
    border-bottom: solid 2px #E71D36;
    transition: 0.5s;
}

.hover-red-line:hover::after{
    left: 0px;
}

.hover-red-line-2:hover:after{
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: -2px;
    border-bottom: solid 2px #E71D36;
    transition: 0.5s;
}

.aside{
    transition: 0.6s;
}

.aside-bg{
    background-color: rgb(0, 0, 0, 0.8);
    /* transition: 0s; */
}

.header-navbar{
    transition: 1s;
}

.sticky-navbar{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: white;
    z-index: 10000;
    transition: 0.8s;
    position: fixed;
    top: 0;
    right: 0;
}

.sticky-navbar p{
    font-size: 50px;
    transition: 0.3s;
}

.sticky-navbar i{
    font-size: 20px;
    cursor: pointer;
}

.sticky-navbar div{
    transition: 0.4s;
    height: 60px;
    width: 90%;
}

.red{
    filter: drop-shadow(0px 4px 13px rgba(0, 0, 0, 0.06));
    border: 1px solid transparent;
    background: linear-gradient(0deg, #FFFFFF, #FFFFFF) padding-box,
    linear-gradient(180deg, rgba(231, 29, 54, 0.6) 0%, rgba(231, 29, 54, 0) 100%) border-box;
}

.green{
    filter: drop-shadow(0px 4px 13px rgba(0, 0, 0, 0.06));
    border: 1px solid transparent;
    background: linear-gradient(0deg, #F7FFFE, #F7FFFE) padding-box,
    linear-gradient(180deg, rgba(46, 196, 182, 0.6) 0%, rgba(46, 196, 182, 0) 100%) border-box;
}

.red-2{
    filter: drop-shadow(0px 4px 13px rgba(0, 0, 0, 0.06));
    border: 2px solid transparent;
    background: linear-gradient(0deg, #FFFFFF, #FFFFFF) padding-box,
    linear-gradient(-90deg, rgba(231, 29, 54, 0.6) 0%, rgba(231, 29, 54, 0) 100%) border-box;
}

.green-2{
    filter: drop-shadow(0px 4px 13px rgba(0, 0, 0, 0.06));
    border: 2px solid transparent;
    background: linear-gradient(0deg, #F7FFFE, #F7FFFE) padding-box,
    linear-gradient(-90deg, rgba(46, 196, 182, 0.6) 0%, rgba(46, 196, 182, 0) 100%) border-box;
}